body {
    background: rgb(0,0,36);
    background: linear-gradient(90deg, rgba(0,0,36,1) 0%, rgba(67,30,145,1) 48%, rgba(103,44,168,1) 65%, rgba(67,113,184,1) 90%, rgba(103,163,204,1) 100%);
    margin: 0;
    padding: 0;
}